.brand_background {
     background-image: url("../Assets/Eazi Wave.png"), url("../Assets/audience-patterns.5d18a20d.png");
     background-repeat: no-repeat;
     object-fit: cover;
     background-size: cover;
     background-blend-mode: multiply;
}

.cta_background {
     background-image:url("../Assets/audience-patterns.5d18a20d.png");
     background-repeat: no-repeat;
     object-fit: cover;
     background-size: cover;
     background-blend-mode: multiply;
}

.dashboard_background {
     background-image: url("../Assets/Mask group.png");
     background-color: #11453b;
     background-blend-mode: multiply;
     background-repeat: no-repeat;
     object-fit: cover;
     background-size: cover;
}

.wallet_balance {
     background-image: url("../Assets/Mask group.png");
     background-color: #11453b;
     background-blend-mode: multiply;
     background-repeat: no-repeat;
     object-fit: cover;
     background-size: cover;
}

.scroll_style::-webkit-scrollbar {
     width: 1px;
}

.scroll_style::-webkit-scrollbar-track {
     background-color: #fff;
}

.scroll_style::-webkit-scrollbar-thumb {
     background-color: #fff;
}

.chat_scroll::-webkit-scrollbar {
     width: 8px;
     height: 8px;
}

.chat_scroll::-webkit-scrollbar-track {
     background-color: #f0eaea;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
}

.chat_scroll::-webkit-scrollbar-thumb {
     border-radius: 4px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     background-color: #d1cccc;
}

.cards {
     background-image: radial-gradient(#0e6e5b 10%, #11453b 90%);
}


@media screen and (min-width: 768px){
     .resize_width{
          width: calc(100% - 240px)!important;
          margin-left: auto;
     }
}
