/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

@font-face {
  font-family: "Aeonik";
  src: local("Aeonik"),
  url("./font/Aeonik-2/Aeonik-/Aeonik-Regular.otf") format("truetype");
}

.font-face-ae {
  font-family: "Aeonik";
}